--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cu118

torch==2.1.0+cu118
torchvision
torchaudio
transformers[deepspeed]==4.35.0
accelerate==0.24.1
peft==0.6.0
bitsandbytes==0.41.1
trl==0.7.2
datasets==2.14.6
scipy

fire
openai


pytest
