--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cu121

# Python dependencies
torch==2.3.0+cu121
torchvision==0.18.0+cu121
torchaudio==2.3.0+cu121

# General dependencies
wheel
packaging

# Unsloth (from GitHub)
unsloth[huggingface] @ git+https://github.com/unslothai/unsloth.git

# Additional dependencies
bitsandbytes
xformers
triton==2.3.0
flash-attn==2.6.3